* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

.wrapper {
    display: flex;
}

.col-2s {
    width: 16.666%;
}


.col-8s {
    width: calc(100vw - 300px);
    padding: 30px;
}