.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-title {
    font-size: 20px;
    font-weight: bold;
}
.nav-text {
    padding-top: 10px;
    font-size: 15px;
    color: #bdbdbd;
}
.search-box {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 300px;
}